*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    box-sizing: border-box;
    color: black;
    background-color: bisque;

}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
}

nav{
    display: flex;
    width: 85%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 10px 25px;

}
nav ul li a{
    text-decoration: none;
    color:black;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 16px;
    margin: -3%;
    transition: 4s ease;
}
nav ul li a:hover{
    color: #f9004d;
    transition: .4s;

}
.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content img {
    width: 700px; /* Adjust according to your image */
    margin-right: 20px; /* Adjust the margin as needed */
    height: auto;
}
.delet{
    margin-left: 8%;
    margin-top: 15%;
}
.delet h1{
    font-size: 50px;
    color: plum;
    margin-bottom: 50px;
}

span{
    color: orchid;
}

.container {
    display: flex;
    align-items: center; /* Align items vertically */
}

.image {
    flex: 0 0 auto; /* Don't allow image to grow */
    margin-right: 20px; /* Adjust the margin as needed */
}

.image img {
    max-width: 100%; /* Ensure image does not exceed container width */
}

.delet {
    flex: 1; /* Allow content to grow */
}

.about{
    width: 100%;
    padding: 50px 0;
}
.about-text{
    width: 500px;
    padding: auto;
}
.about img{
    height:auto;
    width: 600px;
    }
.circular-image{
    border-radius: 50%;
}
.about-text h2{
    color: black;
    font-size: 24px;
    text-transform: capitalize;
}
.about p{
    font-size: 16px; 
    line-height: 1.5; 
    text-align: justify; 
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.main{
    /*width: 550px;
    max-width: 95%;
    margin: 0 auto;
    */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
button{
    background-color: #f9004d;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s; 
}
button:hover{
    background-color: transparent;
    border: 2px solid;
    cursor: pointer; 
}
.service{
    width: 100%;
    padding: 100px 0px;
}
.title h5{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 15px 0;
}
h5{
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 15px;
}
.card .button{
    background-color: #f9004d;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 27px;
    border-radius: 30px;
    transition: .4s; 
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid;
    cursor: pointer; 
}
.contact-me{
    width: 100%;
    height: 290px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{
    font-size:30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.contact-me .button-two{
    background-color: #f9004d;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s; 
}
.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid;
    cursor: pointer;
}
footer{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.end{
    position: absolute;
    color: black;
    bottom: 35px;
    font-size: 14px;
}